<html>
    <head>
        <center>
        <h3><u><p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">Ready to pick your next flick?</u></h3></p></p>
        </center>
    </head>
    <body style = "background-color: black">
        <body background = "{{background}}">
        </body>
        <center>
        <P id = "inner-box" style = "color:red; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif">
            Let's match you with the perfect flick.
            Click your favorite genre to get started:
        </P>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid orange; border-radius: 5px" type="submit" name="action" value="Action">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid orangered; border-radius: 5px" type="submit" name="action" value="Adventure">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid goldenrod; border-radius: 5px" type="submit" name="action" value="Animation">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid white; border-radius: 5px" type="submit" name="action" value="Biography">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid lightskyblue; border-radius: 5px" type="submit" name="action" value="Comedy">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid black; border-radius: 5px" type="submit" name="action" value="Crime">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid green; border-radius: 5px" type="submit" name="action" value="Drama">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid cyan; border-radius: 5px" type="submit" name="action" value="Family">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid purple; border-radius: 5px" type="submit" name="action" value="Fantasy">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid darkslategray; border-radius: 5px" type="submit" name="action" value="Film-Noir">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid blue; border-radius: 5px" type="submit" name="action" value="History">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid burlywood; border-radius: 5px" type="submit" name="action" value="Horror">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid palevioletred; border-radius: 5px" type="submit" name="action" value="Musical">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid greenyellow; border-radius: 5px" type="submit" name="action" value="Mystery">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid pink; border-radius: 5px" type="submit" name="action" value="Romance">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid gray; border-radius: 5px" type="submit" name="action" value="Sci-Fi">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid darkred; border-radius: 5px" type="submit" name="action" value="Thriller">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid red; border-radius: 5px" type="submit" name="action" value="War">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid brown; border-radius: 5px" type="submit" name="action" value="Western">
        </form>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid forestgreen; border-radius: 5px" type="submit" name="action" value="Any movie for me">
        </form>
        </center>

    </body>
</html>
