<html>
    <head>
        <center>
        <h3><u><p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">Ready to pick your next flick?</u></h3></p></p>
        </center>
    </head>
    <body style = "background-color: black">
        <body background = "{{background}}">
        </body>
        <center>
            <p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif"> {{ movie_title }} Rating: {{movie_rating}} </p>
            <img src = "{{user_image}}", width="500", height="600">
        </center>
        <center>
        <P style = "color:red; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif">
            Let's match you with the perfect flick.
        </P>
        <form method="post" action = "/">
            <input type="submit" name="action" value="Yes!">
            <input type="submit" name="action" value="No.">
        </form>
        </center>
    </body>
</html>
