<html>
    <head>
        <center>
        <h3><u><p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">Ready to pick your next flick?</u></h3></p></p>
        </center>
    </head>
    <body style = "background-color: black">
        <body background = "{{background}}">
        </body>
        <center>
        <P id = "inner-box" style = "color:red; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif">
            Let's match you with the perfect flick.
            Click your favorite genre to get started:
        </P>
        <form method="post" action = "/action/">
            <input id = "inner-box" style = "border:4px solid orange; border-radius: 5px" type="submit" name="action" value="Action">
        </form>
        <form method="post" action = "/adventure/">
            <input id = "inner-box" style = "border:4px solid orangered; border-radius: 5px" type="submit" name="action" value="Action">
        </form>
        <form method="post" action = "/biography/">
            <input id = "inner-box" style = "border:4px solid white; border-radius: 5px" type="submit" name="action" value="Biography">
        </form>
        <form method="post" action = "/crime/">
            <input id = "inner-box" style = "border:4px solid black; border-radius: 5px" type="submit" name="action" value="Crime">
        </form>
        <form method="post" action = "/drama/">
            <input id = "inner-box" style = "border:4px solid green; border-radius: 5px" type="submit" name="action" value="Drama">
        </form>
        <form method="post" action = "/fantasy/">
            <input id = "inner-box" style = "border:4px solid purple; border-radius: 5px" type="submit" name="action" value="Fantasy">
        </form>
        <form method="post" action = "/history/">
            <input id = "inner-box" style = "border:4px solid blue; border-radius: 5px" type="submit" name="action" value="History">
        </form>
        <form method="post" action = "/mystery/">
            <input id = "inner-box" style = "border:4px solid greenyellow; border-radius: 5px" type="submit" name="action" value="Mystery">
        </form>
        <form method="post" action = "/romance/">
            <input id = "inner-box" style = "border:4px solid pink; border-radius: 5px" type="submit" name="action" value="Romance">
        </form>
        <form method="post" action = "/scifi/">
            <input id = "inner-box" style = "border:4px solid gray; border-radius: 5px" type="submit" name="action" value="Sci-Fi">
        </form>
        <form method="post" action = "/war/">
            <input id = "inner-box" style = "border:4px solid red; border-radius: 5px" type="submit" name="action" value="War">
        </form>
        <form method="post" action = "/western/">
            <input id = "inner-box" style = "border:4px solid brown; border-radius: 5px" type="submit" name="action" value="Western">
        </form>
        <form method="post" action = "/random/">
            <input id = "inner-box" style = "border:4px solid brown; border-radius: 5px" type="submit" name="action" value="I'm feeling lucky">
        </form>
        </center>

    </body>
</html>
