<html>
    <head>
        <center>
        <h3><u><p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">Is this the flick you're looking for?</u></h3></p></p>
        </center>
    </head>
    <body style = "background-color: black">
        <body background = "{{background}}">
        </body>
        <center>
            <p style = "color:black; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif"> {{ movie_title }} Rating: {{movie_rating}} </p>
            <img src = "{{user_image}}", width="500", height="600" , style = "border:2000px green">
        </center>
        <center>
            <h3><p style = "color:red; font-size:10px; font-family:Verdana, Geneva, Tahoma, sans-serif">{{movie_plot_summary}} </h3></p></p>
        <center>
        <center>
            <h3><p style = "color:green; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">{{movie_genres}} </h3></p></p
        <center>
        <center>
        <P id = "inner-box" style = "color:white; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif">
            Is this the better flick?
        </P>
        </P>
        <form method="post" action = "/">
            <input id = "inner-box" style = "border:4px solid blue; border-radius: 5px" type="submit" name="action" value="Yes!">
            <input id = "inner-box" style = "border:4px solid red; border-radius: 5px" type="submit"  name="action" value="No.">
        </form>
        </center>
    </body>
</html>
