<html>
    <head>
        <center>
        <h3><u><p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">Does this flick look like a great watch?</u></h3></p></p>
        </center>
    </head>
    <body style = "background-color: black">
        <body background = "{{background}}">
        </body>
        <center>
            <p style = "color:red; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif"> {{ movie_title }} Rating: {{movie_rating}} </p>
            <img src = "{{user_image}}", width="500", height="600" , style = "border:2000px green">
        </center>
        <center>
            <h3><p style = "color:green; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">{{movie_genres}} </h3></p></p
            <center>
            <center>
            <h3><p style = "color:white; font-size:10px; font-family:Verdana, Geneva, Tahoma, sans-serif">{{movie_plot_summary}} </h3></p></p>
            <center>
        <center>
        </P>
        <form method="post" action = "/">
            <input type="submit" name="action" value="Yes!">
            <input type="submit" name="action" value="No.">
        </form>
        </center>
    </body>
</html>
