<html>
    <head>
        <center>
        <h3><u><p style = "color:black; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">Great! Enjoy your flick!</u></h3></p></p>
        </center>
    </head>
    <body style = "background-color: black">
        <body background = "{{yes_background}}">
        </body>
        <center>
            <p style = "color:black; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif"> {{ movie_title }} Rating: {{movie_rating}} </p>
            <img src = "{{user_image}}", width="500", height="600" , style = "border:2000px green">
        </center>
        <center>
        <h3><u><p style = "color:green; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif">{{movie_genres}} </u></h3></p></p
        <center>
        <center>
        <h3><u><p style = "color:black; font-size:10px; font-family:Verdana, Geneva, Tahoma, sans-serif">{{movie_plot_summary}} </u></h3></p></p>
        <center>
    </body>
</html>
